<div id="login-form">
  <h2>Identifica't</h2>
  <form action="/auth/login" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="El teu username" value="Minyons"/>
    </label>

    {{!-- <label> Email
      <input type="email" name="email" placeholder="El teu email" />
    </label> --}}

    <label> Password
      <input type="password" name="password" placeholder="El teu password" value="minyons"/>
    </label>

    <button type="submit">Identifica't</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>