<div id="login-form" class="bg-red">
  <h2>Identifica't</h2>
  <form action="/auth/login" method="POST" class="row g-2">
    <div class="col-md-2">
      <label class="form-label"> <b>Username</b>
        <input class="form-control" type="text" name="username" placeholder="El teu username" value="Minyons"/>
      </label>
    </div>
      {{!-- <label> Email
        <input type="email" name="email" placeholder="El teu email" />
      </label> --}}
    <div class="col-md-2">
      <label class="form-label"> <b>Password</b>
        <input class="form-control" type="password" name="password" placeholder="El teu password" value="minyons"/>
      </label>
    </div>
    <div class="col-12">
      <button class="btn" style="background-color: white; color:#ee2229" type="submit">Identifica't</button>
    </div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>