<div id="form">
  <h2>Registra't</h2>
  <form action="/auth/signup" method="POST" enctype="multipart/form-data" class="row g-3">
    <div class="col-md-3">
      <label class="form-label"> <b>Nom</b>
        <textarea class="form-control" type="text" name="nom" rows="1" cols="30" placeholder="El teu nom" >Minyons de Terrassa</textarea>
        {{!-- <input type="text" name="name" placeholder="El teu nom" /> --}}
      </label>
    </div>
    <div class="col-md-3">
      <label class="form-label"> <b>Username</b>
        <input class="form-control" aria-describedby="inputGroupPrepend3" type="text" name="username" placeholder="El teu username" value="Minyons"/>
      </label>
    </div>
    <div class="col-md-3">
      <label class="form-label"> <b>Email</b>
        <input class="form-control" type="email" name="email" placeholder="El teu email" value="minyons@minyons.cat"/>
      </label>
    </div>
    <div class="col-md-3">
      <label class="form-label"> <b>Password</b>
        <input class="form-control" type="password" name="password" placeholder="El teu password" value="minyons"/>
      </label>
    </div>
    <div class="col-md-3">
      <label class="form-label"> <b>Foto de perfil</b>
        <input class="form-control" style="background-color: white; color:#ee2229" type="file" name="user-image">
      </label>
    </div>
    <div class="col-12">
      <button class="btn" style="background-color: #ee2229; color:white" type="submit">Registra't</button>
      <button class="btn" style="background-color: #ee2229; color:white" type="reset" value="Reset">Reset</button>
    </div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>