<div class="flex container-fluid bg-red">
    <div class="with50">
        
            <h1>ACTUACIONS CASTELLERES</h1>
        
        <p class="p-home">
            <b>Aquí podeu tenir les vostres actuacions catalogades amb el nom de la diada, la data, el lloc, els castells que hi heu fet i seleccionar una imatge de la diada.
                <br>Podreu veure i comentar les actuacions de les altres colles!</b>
        </p>
        
            <img class="img40" src="/images/faixa.png" alt="">
        
    </div>    
    <div class="flex">
        
        {{#if user}}
            {{!-- <a href="/actuacions/nova-actuacio" class="btn" style="background-image: url('/images/faixa-enrotllada.png')">Crea una actuació</a> --}}
            <a href="/actuacions/nova-actuacio" class="btn btn-lg big" style="background-color: white; color:#ee2229">Crea una actuació</a>
        {{/if}}
        
        
        <img id="dosdevuit" src="/images/2de8net.png">
        
    </div>        
            
        
</div>     