body {
  padding: 50px;
  font: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bg-red {
  background-color: #ee2229;
}
.bg-white {
  background-color: white;
}
.bg-mocador{
  background-image: url('/images/textura-mocador.jpg');
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  width: 100%;
  height: 100%;
}
.padd-left {
  padding-left: 2vh;
}
.padd-right {
  padding-right: 2vh;
}
.padd-bottom {
  padding-bottom: 1vh;
}
.padd-bottom3 {
  padding-bottom: 3vh;
}

.padd-top {
  padding-top: 1vh;
}
.margin-bottom3 {
  margin-bottom: 3vh;
}
a {
  text-decoration: none;
}

h1 {
  color: white;
  text-align: left;
  font-size: 6rem;
  width: 50%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 2vh 0 2vh 3vh;
}
h2 {
  color: white;
  font-size: 3rem;
}
#h2-actuacions {
  color: white;
  font-size: 3rem;
  padding: 2vh 0 0 3vh;
}
nav {
color: white;
background-color: #ee2229;
display: flex;
justify-content: space-between;
align-items: center;
list-style: none;
height: 6vh;
padding: 0 1rem 0 1rem;
font-weight: bold;
gap: 2rem;
}
nav a {
  color: white;
  padding-right: 1rem;
  text-decoration: none;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-gap {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.img-20px {
  width: 20px;
  height: auto;
}
.img25 {
  width: 25%;
  height: auto;
}
.img40 {
  width: 40%;
  height: auto;
}
.img50 {
  width: 50%;
  height: auto;
}
.img75x125 {
  width: 75px;
  height: 125px;
}
nav p {
  margin-left: 0.3rem;
  margin-top: 1rem;
  
}
.with50 {
  width: 50%;
}
.big {
  width: 20rem;
  height: auto;
  font-size: 2rem;
  font-weight: bold;
}
.p-home {
  width: 75%;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 3vh;
  text-align: center;
}
#dosdevuit {
  width: 60%;
  height: auto;
}
#form {
  padding: 0 0 3vh 2vh;
}
#login-form {
  padding: 0 0 3vh 2vh;
}
.actuacions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2vh 3vh 2vh;
}
#dades-actuacio {
  padding: 2vh;
  margin: 0 2vh 0 0;
  font-size: 1.5rem;
  
}
#comentaris {
  width: 32%;
}
#img-actuacio-container {
  overflow: hidden;
  height: 400px;
}
footer {
  background-image: url('/images/mocador.jpg');;
  width: 100%;
  height: 10vh;
}

